fastapi
uvicorn[standard]
streamlit

pydantic
pydantic-settings

sqlalchemy
psycopg[binary]
alembic
pgvector

pymupdf

spacy
sentence-transformers

langchain
langchain-community

python-multipart
httpx

pytest
pytest-asyncio

python-dotenv